
/*************************************GENERAL***************************/

body {
  width: auto;
  background-color: #CA965C;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 4%
}

input{
  text-align: center;
}

section {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer{
  height: 10%;
  width:100%;
  position: absolute;
  bottom: 0;

}


/*************************************PAGE ONE***************************/

.section1{
  height:100vh;
  background-color: #06283D;
}

.page1{
  background-color: #06283D;
}
.pageOne {
  text-align: center;
  position: absolute;
  top: 35vh;
}

.links{
  padding-right: 100px;
}



.coder1 {
  height: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
}



.coder2 {
  height: 200px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.pictureKo {
  height: 100px;
  position: relative;
  left: 25vh;
}

.pageOneLink {
  position: absolute;
  top: 0;
  right: 100px;
}

.cellPage1 {
  padding: 20px;
}



/*************************************PAGE TWO***************************/
.container2 {
  background-color: #DFF6FF;
  text-align: center;
  align-items: center;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  top: 0;
}

.aboutMe{
  font-size: 72px;
  margin-top: 2%;
  padding-bottom: 1%;
}

.row-main-pg2{
  height: 50vh;
}

.education{
  padding-bottom: 5%;
}

.borderLeft{
  border-right: 3px solid #3894d1;
}

.custom-card-educ{
  height: 20%;
  width: 40%;
  align-items: center;
  margin: auto;
}

.custom-card-img-educ{
  height: 100%;
  width: 80%;
}

.feua{
height: 200px;
width: 200px;

}

.jsma{
  height: 200px;
}

.custom-card-2{
  height: 100%;
  width: 50%;
}

.carousel-item-skills{
  padding-bottom: 9.46%;
}
.carousel-item-educ{
  padding-bottom: 5.65%;
}

.custom-carousel-control{
  height: 100%;
}

.card-font{
  font-size: 32px;
}

.custom-card-header-1{
  padding-bottom: 10%;
}

.demo {
   filter: brightness(120%);
   filter: contrast(120%);
   filter: drop-shadow(5px 5px 5px black);
}

.borderColor{
  border-color: #3894d1
}



/*************************************PAGE THREE***************************/

.container3 {
  background-color:  #06283D;
  text-align: center;
  align-items: center;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  top: 0;
}

.card.custom3{
  height: 55%;
  width:55%;
  margin:5% auto;
  padding:5% 0;
  align-items:center;
  border-radius:25px;
  background-color:#DFF6FF;
}

.card.custom4{
  margin:auto auto auto 10%;
  width:100%;
  background-color:#DFF6FF;
}
/*************************************MISC***************************/

button{
  color: black;
}

::placeholder{
  font-weight: 300;
  color: gray;
  font-family: 'Baloo Bhai 2', cursive;
  font-weight: bold;

}

.removeLink {
  text-decoration: none;
  font-size: 30px;
}

.subtitle{
  font: 22px;
}

.brixFont{
  font-family: 'Baloo Bhai 2', cursive;
  font-size: 120px;
  font-weight: 400;
  text-shadow: 4px 2px 2px black;
}

.headerFont{
  font-family: 'Baloo Bhai 2', cursive;
}

.contentFont{
  font-family: 'Montserrat', sans-serif;
}

.shadowBlack{
  text-shadow: 4px 2px 2px black;
}

.shadowBlack2{
  text-shadow: 2px 2px 2px #c6c9cf;
}

.contentFont-net{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
.contentFont-web{
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}

.welcome{
  font-size: 64px;
}

.fontColorGreen{
  color: #DFF6FF;
}

.fontcolorSecond{
  color: #3894d1;
}

.custom-card-header{
  height:30%;
  width: 100%;
  margin:auto;
}

.card-group.group1{
  width:70%;
  margin:5% auto auto;
}

.message{
  margin:auto;
  margin-bottom:3%;
  border-radius:25px;
}

@media screen and (max-width: 1400px){
.brixFont{
  font-size: 72px;
}

.coder1 {
  height: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
}



.coder2 {
  height: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.card.custom3{
  height: 80%;
  width:80%;
  margin:5% auto;
  padding:5% 0;
  align-items:center;
  border-radius:25px;
  background-color:#DFF6FF;
}

}

@media screen and (max-width: 425px){

  .brixFont{
    font-family: 'Sacramento', cursive;
    font-size: 32px;
  }

  .coder1 {
    height: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
  }



  .coder2 {
    height: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .custom-card-col-1{
    height: 10vh;
  }

  .contentFont-net{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
  }
  .contentFont-web{
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
  }
  .custom-card.group1{
    width:60%;
    height:10%;
    margin:5% auto auto;
  }

  .card.custom3{
    height: 80%;
    width:50%;
    margin:5% auto;
    padding:5% 0;
    align-items:center;
    border-radius:25px;
    background-color:#DFF6FF;
  }

  .contact{
    height:100px;
  }

  .card.custom4{
    margin:auto auto auto auto;
    width:70%;
    background-color:#DFF6FF;
  }

  .message{
    width: 70%;
  }
}
